<div class="container">
	<h1>VRTEX</h1>
	<h2>GRAVITEAM</h2>
	<p>team building in virual reality</p>
	<!-- <img src="../assets/images/graviteam-colored.svg"/> --> <!-- how do I reference this properly? -->
</div>

<!--
<div id="sequence">
    <ul class="sequence-canvas">
        <li>
            <div class="emblem-div">
				<img id="emblem-img" />
			</div>
        </li>
        <li>
            <div class="moon-div">
				<img id="moon-img" />
			</div>
        </li>
        <li>
            <div class="rocket-div">
				<img id="rocket-img" />
			</div>
        </li>
    </ul>
</div>
-->

<div class="moon-div">
	<img id="moon-img" />
</div>

<div class="emblem-div">
	<img id="emblem-img" />
</div>

<div class="rocket-div">
	<img id="rocket-img" />
</div>

<div class="i-no-dot">
	<img id="i-no-dot-img" />
</div>

<div class="i-dot-div">
	<img id="i-dot-img" />
</div>

<div class="grav-div">
	<img id="grav-img" />
</div>

<div class="team-div">
	<img id="team-img" />
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div id="email-div">
	<h1>ENTER YOUR EMAIL</h1>
	<p>team building in virual reality</p>
	<!-- <img src="../assets/images/graviteam-colored.svg"/> --> <!-- how do I reference this properly? -->
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

